@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-12 col-md-8">
        @for (var i = 0; i < 5; i++)
        {
            @await Html.PartialAsync("_BigArticle", new BigArticleModel())
        }
    </div>

    <div class="col-12 col-md-4">
        @await Html.PartialAsync("_ShortAboutMe")
        @await Html.PartialAsync("_Subscribe")
        <div>
            <h4>Featured articles</h4>
            <hr>
            @for (var i = 0; i < 15; i++)
            {
                @await Html.PartialAsync("_FeaturedArticle")
            }
        </div>
    </div>
</div>