body {
  background-color: #F5F7F9;
  -webkit-font-smoothing: antialiased;
  font-family: 'Inter', sans-serif;
}

p {
  font-size: 14px;
  line-height: 22px;
  font-weight: 500;
  color: #687385;
}

.no-decoration {
  text-decoration: none;
}

hr {
  color: #687385;
}

h1, h2, h3, h4, h5, h6 {
  color: #313131
}

h3 {
  font-weight: 900; 
}

h4 {
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
}