@{
    ViewData["Title"] = "Article title";
}
@model CodeCris.Blog.Models.Blog.ArticleViewModel

<div class="row">
    <div class="col-12 col-md-8">
        <h1>@Model.Title</h1>
        <p>@Model.Content</p>
    </div>
</div>