@model BigArticleModel

<a href="/get-to-know-how-to-do-this" class="box-1 mb-3 d-block no-decoration">
    <img src="test.jpg" style="max-width: 100%"/>
    <div class="p-4">
        <h3>Get to know all related things</h3>
        <p>A fun-packed series of activities, including auctions, product releases and business initiatives dedicated to gaming and blockchain’s increasing effect on the trajectory of the gaming industry.</p>
        <hr>
        <div class="d-block d-flex-md align-items-center justify-content-between">
            <div >
                <div>
                    <p class="m-0">Cris (15 Sep 2021)</p>
                </div>
            </div>
            <div>
                <span class="tag">.NET CORe</span>
                <span class="tag">AZURE</span>
                <span class="tag">SIGNALR</span>
            </div>
        </div>
    </div>
</a>