<div class="box-1 mb-3 p-3">
        <h4>Get to know all related things</h4>
        <p>Join the newsletter to receive the latest updates in your inbox.</p>
        <p class="mb-0">14 Aug 2021</p>
</div>