<div class="box-1 mb-3 p-3 ">
        <h3>Newsletter</h3>
        <p>Join the newsletter to receive the latest updates in your inbox.</p>
            
    
    <form>
      <div class="mb-3">
          <input type="email" class="form-control" 
                 id="exampleInputEmail1" placeholder="Email address..." aria-describedby="emailHelp">
      </div>


      <button type="submit" class="btn btn-primary w-100">Subscribe</button>
    </form>

</div>